@import "tailwindcss";
@keyframes color-cycle {
  0% {
    background-color: #f87171;
  } /* red-400 */
  25% {
    background-color: #facc15;
  } /* yellow-400 */
  50% {
    background-color: #34d399;
  } /* green-400 */
  75% {
    background-color: #60a5fa;
  } /* blue-400 */
  100% {
    background-color: #f87171;
  } /* red-400 again */
}

.color-cycle {
  animation: color-cycle 6s infinite ease-in-out;
}

@keyframes ballAnimation {
  0% {
    transform: skew(0deg) rotate(0deg);
  }
  25% {
    transform: skew(5deg) rotate(5deg);
  }
  50% {
    transform: skew(-5deg) rotate(-2deg);
  }
  75% {
    transform: skew(2deg) rotate(7deg);
  }
  100% {
    transform: skew(-3deg) rotate(-5deg);
  }
}
